
{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Lista de Candidatos</h1>
</div>

<table class="table">
    <tr><th>Nome do Candidato</th><th>Período</th><th>Faculdade</th></tr>
        {% for Candidato in Candidatos %}
          <tr><td>{{ Candidato.nome }}</td><td><tr><td>{{ Candidato.RG }}</td><td><tr><td>{{ Candidato.CPF }}</td><td><tr><td>{{ Candidato.endereço}}</td><td><tr><td>{{ Candidato.telefone }}</td><td><tr><td>{{ Candidato.candidato }}</td><td>
candidato. Para isso:
              
        {% endfor %}
</table>

{% endblock %}
    
    
    
    
   
